/* public/css/style.css */

.work-info-table th {
    width: 20%;
    background-color: #f8f9fa;
}

.asset-card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain; /* 画像がコンテナに収まるように調整 */
    padding: 1rem;
    background-color: #eee;
}

.asset-card .card-header {
    font-weight: bold;
}